{% extends 'base/base.html' %}
{% load static %}
{% block tittle %}{{modulo.titulo}}{% endblock tittle %}
{% block description %}Página com vídeos de gatos{% endblock description %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ conteudo.modulo.get_absolute_url }}">{{ conteudo.modulo.titulo }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ conteudo.titulo }}</li>
  </ol>
</nav>

    <div class="container">
	    <div class="row">
		    <div class="col-md-12">
                <h1 class="mt-4 mb-3">{{ conteudo.titulo | default:"Faltndo titulo" }}</h1>
                <iframe src="https://player.vimeo.com/video/{{ conteudo.vimeo_id }}" width="640" height="480" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
		    </div>
	    </div>
    </div>

{% endblock body %}
