{% extends 'base/base.html' %}
{% load static %}
{% block tittle %}Cats Website{% endblock tittle %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de python
				</h2>
                <br>
                <h5>Escreva seu email para entrar em contato</h5>

                <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=80024f7b9e939f3bd34226fd2&amp;id=efb961bcca"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@gmail.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="FNAME">Email</label>
                            <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME" placeholder="Don Mapache">
                        </div>
                           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                              name="b_80024f7b9e939f3bd34226fd2_efb961bcca"
                                                                              tabindex="-1" value=""></div>

                        <div class="col-auto">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                   class="btn btn-primary">
                        </div>
                    </div>
                </form>

               <br>
				<p>
					Aprender mais sobre python através dos livros disponibilizados no python org
                    <a href="https://wiki.python.org/moin/PythonBooks" target="_blank"> Livros python</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor do curso
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/cat.png' %}" alt="Foto do instrutor"
                                     class="img-thumbnail float-left mr-3"/>
                                A expressão Lorem ipsum <a href="https://pt.wikipedia.org/wiki/Lorem_ipsum" >Lorem ipsum</a> em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações (jornais, revistas, e sites) para testar e ajustar aspectos visuais (layout, tipografia, formatação, etc.) antes de utilizar conteúdo real. Também é utilizado em catálogos tipográficos, para demonstrar textos e títulos escritos com as fontes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}